.adress-nav {
	@media screen and (max-width: ($table-width - 1)) {
		margin-top: 302px;
			display: flex;
				flex-direction: column-reverse;
				gap: 32px;
	}

	@media screen and (min-width: $table-width) {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		gap: 10px;
	}

	@media screen and (min-width: $desktop-width) {
		flex-direction: row;
		align-items: center;
		gap: 50px;
	}
}

.adress-nav__link {
	display: flex;
	color: $title-text-color;
	fill: currentColor;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.1429;
	letter-spacing: 0.02em;

	transition-property: color, fill;
	transition-duration: 250ms;
	transition-timing-function: $timing-animation;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	@media screen and (max-width: ($table-width - 1)) {
		font-size: 24px;
		line-height: calc(28 / 24);
	}
}

.adress-nav__link--mobil {
	@media screen and (max-width: ($table-width - 1)) {
			font-size: 34px;
			line-height: calc(40 / 34);
			color: #2196F3;
		}
}

.adress-nav__icon {
	margin-right: 10px;
}
