.adress-nav {
	display: none;

	@media screen and (min-width: $table-width) {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		gap: 10px;
	}

	@media screen and (min-width: $desktop-width) {
		flex-direction: row;
		align-items: center;
		gap: 50px;
	}
}

.adress-nav__link {
	display: flex;
	color: $title-text-color;
	fill: currentColor;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.1429;
	letter-spacing: 0.02em;

	transition-property: color, fill;
	transition-duration: 250ms;
	transition-timing-function: $timing-animation;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.adress-nav__icon {
	margin-right: 10px;
}