.button {
    color: $hero-color;
    background: $accent-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px $button-box-shadow;
    min-width: 200px;

    margin-left: auto;
    margin-right: auto;

    transition: background 250ms $timing-animation;    

    &:hover,
    &:focus {
        background: $buttun-color-active;
    }
}

.button__text {
    display: flex;
    align-items: center;
}

.button__icon {
    margin-left: 10px;
    fill: $hero-color;
}