.footer-subscribe {
    margin-left: 93px;
}

.footer-subscribe__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $hero-color;
}