.form-subscribe {
    display: flex;
}

.form-subscribe__label {
    display: flex;
}

.form-subscribe__input {
    width: 358px;
    margin-right: 12px;
    padding: 0px 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid $subscribe-input-border;

    font-size: 16px;
    line-height: 1.25;
    color: $hero-color;

    transition: border 250ms $timing-animation;

    &::placeholder {
        color: $contact-color;
    }

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}