.header-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    margin-left: 93px;
}

.site-nav__list {
    display: flex;
    gap: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-animation;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.site-nav__link--current {
    position: relative;
    color: $accent-color;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        bottom: -1px;
        left: 0px;
        border-radius: 2px;
    }
}