.logo {
    
    color: $accent-color;

    font-family: $fonts-second;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}

.logo__text {
    color: $logo-color;
}

.logo__text--inverse {
    color: $hero-color;
}