.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $modal-bag;
    z-index: 1;

    opacity: 1;
    transition: opacity 250ms $timing-animation;
}

.modal__window {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    padding: 40px 40px;

    background: $hero-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1) perspective(400px) rotateX(0deg);
    transition: transform 250ms $timing-animation;
}

.modal.is-hidden .modal__window {
    transform: translate(-50%, -50%) scale(0.3) perspective(400px) rotateX(60deg);
}

.modal__title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;

    color: $primary-text-color;
}

.button-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $modal-close-border;
    background-color: $hero-color;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $logo-color;

    transition: color 250ms $timing-animation;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.button-modal-close__icon {
    fill: currentColor;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}