.section__title {
    color: $primary-text-color;

    font-size: 36px;
    line-height: 1.1667;
    text-align: center;
    letter-spacing: 0.03em;
}

.section--indent-top {
    padding-top: 94px;
}

.section--indent-botton {
    padding-bottom: 94px;
}

.section--bagraund {
    background: $portfolio-button;
}